# dotenv environment variables file
.env
.env.test

# Firebase Service Account Key
serviceaccountkey.json

# Node modules
node_modules/

# Firebase Emulator Data
.firebaserc
firebase.json

# Logs
*.log